
.card{
    width: 500px;
    margin: 15px auto;
}

.login-card{
    margin: 120px auto;
}
.card-footer {
    margin-top: -15px;
    margin-bottom: 15px;
}
.main-sidebar a{
    text-decoration: none;
  }

  .icon {
    font-size: 18px;
    margin: 0 5px;
  }
  .delete {
    color: rgb(245, 26, 26);
  }
